<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="mapid" style="height: 600px;"></div>

    <script>
        var map = L.map('mapid').setView([0, 0], 2);  // Initialize the map

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var locations = {{ locations|safe }};  // Get the locations from Django

        // Loop over the locations and add each to the map
        for (var i = 0; i < locations.length; i++) {
            var location = locations[i];
            var coordinates = [location.coordinates.y, location.coordinates.x];
            L.marker(coordinates).addTo(map)
                .bindPopup(location.name);
        }
    </script>
</body>
</html>